/*!Don't remove this!
 * jQuery DCalendar and DCalendar Picker plugin styles
 * 
 * Author: Dionlee Uy
 * Email: dionleeuy@gmail.com
 *
 * Date: Mon Mar 2 2013
 
   ÕûºÏµ½myApi
   2018.11.26 GuoJS
 */
.myApi-calendar {
	position: relative;
	font-family: 'Century Gothic','Segoe UI', Calibri, Arial;
	font-size: 12px;
	border-collapse: collapse;
	margin: 0; padding: 0;
	z-index: 4;
	border:1px solid rgba(0,0,0,0.08);
	width: 250px;
	color: #000;
	text-align: center;
	background-color: #FFF;
	line-height: 20px !important;
}
.myApi-calendar th,
.myApi-calendar td {
	text-align: center;
	-webki-ttransition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.myApi-calendar th:first-child,
.myApi-calendar td:first-child {
	margin-left: 5px;
}
.myApi-calendar span {
	padding: 6px 4px; 
	display: block;
}
.myApi-calendar .month {
	padding: 10px;
}

.myApi-calendar .pMDate
, .myApi-calendar .nMDate { 
	color: #AAA; 
}

.myApi-calendar .date
, .myApi-calendar .pMDate
, .myApi-calendar .nMDate
, .myApi-calendar .month { 
	cursor: pointer; 
}

.myApi-calendar .date.disabled
, .myApi-calendar .pMDate.disabled
, .myApi-calendar .nMDate.disabled { 
	cursor: not-allowed; 
}

.myApi-calendar .date:not(.disabled):hover
, .myApi-calendar .pMDate:not(.disabled):hover
, .myApi-calendar .nMDate:not(.disabled):hover
, .myApi-calendar .month:hover { 
	background-color: #E2E2E2; 
}

.myApi-calendar .date:not(.disabled):active
, .myApi-calendar .pMDate:not(.disabled):active
, .myApi-calendar .nMDate:not(.disabled):active
, .myApi-calendar .month:active { 
	background-color: #22A7F0; color: #FFF; 
}

.myApi-calendar .selected {
	background-color: #22A7F0 !important;
	color: #FFF !important;
}

.myApi-calendar tr:first-child th {
	background-color: #FFF;
	padding: 4px;
	padding-top: 8px;
	font-size: 14px;
}
.myApi-calendar tr:first-child th { cursor: pointer; color:#000; }
.myApi-calendar tr:first-child th:hover { color:#22A7F0; }
.myApi-calendar tr:first-child th:active { color: #22A7F0; }
.myApi-calendar thead tr:nth-child(2) th { color: #555; padding: 8px 3px; }
.myApi-calendar #prev, .myApi-calendar #next {
	font-family: 'Times New Roman';
	font-size: 20px;
	padding: 0;
}
.myApi-calendar #today {
	text-align: center; cursor: pointer;
	color: #22A7F0; padding: 10px 6px;
}
.myApi-calendar #today:hover { color: #80A7DD; }
.myApi-calendar #today:active { color: #000; }
.myApi-calendar #currDay { color:#22A7F0; }
.datepicker {
	/*background: url('./icon.png') transparent right no-repeat;*/
	background-size: contain;
}

