/*
	Toast style
	2018.11.23 GuoJS
*/
.myApi-toast-mask{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;

	background-color: white;
	opacity: 0.5;
	filter:alpha(opacity=50);	
}

@keyframes toast {  
  0% {transform: scale(1); }
  70% {transform: scale(.9); }
  100% {transform: scale(1); }  
}  
@-webkit-keyframes toast {  
  0% {transform: scale(1); }
  70% {transform: scale(.9); }
  100% {transform: scale(1); }  
} 

.myApi-toast-dialog {
	position: fixed;
	top: 40%;
	left: 40%;
	left: calc(50% - 100px);
	z-index: 1001;
	
	width: 200px;
	padding: 5px 5px 10px 5px;
	color: white;
	background-color: #101010;
	background-image: url(../image/toast-info.png);
	background-position: top center;
	background-repeat: no-repeat;
	opacity: 0.8;
	filter:alpha(opacity=80);	
	font-size: 14px;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	
	animation: toast;  
	animation-duration: 0.3s; 
	-webkit-animation: toast 0.3s;      	
}

.myApi-toast-dialog > .myApi-toast-content {
	margin-top: 60px;
}
